body {
    font-family: Arial, sans-serif;
    background-color: #fbfbfb;
    padding: 50px;
    background-image: url(project.jpeg);
    background-size: cover;
    
}
h1{
    text-align: center;
    color: #ff0022;
    font-size: 50px;
}


header{
    background-color: #3498db;
    text-align: left;
    padding: 10px;
    color: #011627;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"]{
     padding: 10px;
     margin: 5px 0 20px;
     border: 1px solid #011627;
     border-radius: 5px;
}

#quizform{
    padding: 5px;
    margin: auto;
    background-color: #fdfffc;
    border-radius: 5px;
    max-width: 800px;
}


fieldset{
    border: none;
    padding: 10px;
}

input[type="radio"]{
    margin-right: 10px;
}

button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: #3498db;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #0b75b7;
}